Repository SOPT-all/36-SOPKATHON-iOS-iOS4, pull requests merged in 2025-05, with the labels that each got.

#7 [NETWORK] #6 마이페이지 API 초기 세팅
  Sopkathon/Sopkathon/Application/SceneDelegate.swift
  Sopkathon/Sopkathon/Network/Mypage/MypageAPI.swift
  Sopkathon/Sopkathon/Network/Mypage/MypageResponseModel.swift
  Sopkathon/Sopkathon/Network/Mypage/MypageService.swift
  Sopkathon/Sopkathon/Presentation/Mypage/MypageViewController.swift
Labels: 세민, NETWORK

#12 [Feat] #1 상세화면 UI 구현
  Sopkathon/Sopkathon/Application/SceneDelegate.swift
  Sopkathon/Sopkathon/Presentation/RecruitDetail/RecruitDetailViewController.swift
Labels: 석기

#17 [FEAT] 회원가입, 로그인, 마이페이지 최종 UI 구현
  Sopkathon/Sopkathon/Presentation/Login/LoginViewController.swift
  Sopkathon/Sopkathon/Presentation/MainTab/CustomTapBarViewController.swift
  Sopkathon/Sopkathon/Presentation/Mypage/MypageViewController.swift
  Sopkathon/Sopkathon/Presentation/Register/RegisterViewController.swift
  Sopkathon/Sopkathon/Resource/Assets.xcassets/ic_mypage.imageset/Contents.json
  Sopkathon/Sopkathon/Resource/Assets.xcassets/ic_mypage.imageset/ic_mypage.png
Labels: 세민, FEAT

#22 [FEAT] #11 후기목록 ui 최종 및 api 연결
  Sopkathon/Sopkathon/Network/ReviewList/ReviewListModel.swift
  Sopkathon/Sopkathon/Presentation/Component/LogoHeader.swift
  Sopkathon/Sopkathon/Presentation/ReviewList/ReviewListTableViewCell.swift
  Sopkathon/Sopkathon/Presentation/ReviewList/ReviewListViewController.swift
  Sopkathon/Sopkathon/Resource/Assets.xcassets/GrayScale/gray900.colorset/Contents.json
  Sopkathon/Sopkathon/Resource/Assets.xcassets/arrow.imageset/Contents.json
  Sopkathon/Sopkathon/Resource/Assets.xcassets/arrow.imageset/ic_arrow.svg
  Sopkathon/Sopkathon/Resource/Assets.xcassets/starIcon.imageset/Contents.json
  Sopkathon/Sopkathon/Resource/Assets.xcassets/starIcon.imageset/ic_star.svg
  Sopkathon/Sopkathon/Resource/Extension/UIFont+.swift
Labels: 나연, FEAT, NETWORK

#29 [NETWORK] #18 마이페이지 API 연동
  Sopkathon/Sopkathon/Network/Mypage/MypageAPI.swift
  Sopkathon/Sopkathon/Network/Mypage/MypageResponseModel.swift
  Sopkathon/Sopkathon/Network/Mypage/MypageService.swift
  Sopkathon/Sopkathon/Presentation/Mypage/MypageRecruitListCell.swift
  Sopkathon/Sopkathon/Presentation/Mypage/MypageViewController.swift
Labels: 세민, NETWORK
